/* Mobile < 740px*/
@media only screen and (max-width: 46.1875em) {
    /* Common */
    .general-title-box {
        line-height: 1.8;
        max-width: 98%;
        margin-bottom: 28px;
    }

    .general-text-box {
        width: 98%;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }
    
    .general-text-box > h1 {
        font-size: 32px;
        width: 100%;
    }
    
    .general-text-box > p {
        font-size: 19.2px;
        color: #999999;
        line-height: 1.4;
    }

    .max-width-common {
        max-width: 94%;
    }

    /* Home */
    #home {
        height: auto;
    }

    #home--container {
        display: flex;
        flex-direction: column;
        text-align: center;
        height: inherit;
    }

    #home--container > .general-text-box {
        margin-top: 30%;
    }
    
    #home--images {
        width: 100%;
        margin-top: 40px;
    }
    
    #home--images-1 {    
        position: unset;
        display: block;
        width: 90%;
        margin: 28px 0;
        transform: rotate(0);
    }

    #home--images-2 {
        display: none;
        position: unset;
        width: 260px;
        transform: rotate(-12deg);
        z-index: 0;
    }

    /* About */
    .about-box {
        display: flex;
        flex-direction: column-reverse;
    }

    .about-box > .general-text-box {
        text-align: left;
        margin-top: 16px;
    }

    .about-img {
        width: 100%;
        margin-top: 20px;
    }

    .about-box-2 {
        display: flex;
        flex-direction: column;
    }

    /* Doctor */
    #doctor-container {
        display: flex;
        flex-direction: column;
    }
    
    #doctor-container > img {
        width: 100%;
    }

    #doctor-container > div {
        text-align: left;
        margin-top: 18px;
    }

    /* Pricing */
    #ask-question {
        padding: 40px 0;
    }
    
    #ask-question-box {
        display: flex;
        flex-direction: column;
    }

    #ask-question-box img {
        width: 100%;
    }
    
    #ask-question-box > ul {
        margin: 0;
        padding: 16px 0;
        width: 100%;
    }
    
    #ask-question-box li {
        padding: 16px 0;
    }

    .slide-comment {
        width: 100%;
    }
    
    .slide-comment-2 {
        display: none;
    }

    .slide-comment-3 {
        display: none;
    }

    .slide-comment-4 {
        display: none;
    }

    /* Blog */
    .blog-box {
        display: flex;
        flex-wrap: wrap;
    }
    
    .blog-card {
        display: flex;
        flex-direction: column;
        padding: 28px 0;
        width: 100%;
    }
    
    .blog-img {
        width: 100%;
    }
    
    .blog-info {
        width: 100%;
    }
    
    .blog-info > h3 {
        margin-top: 16px;
    }

    /* Service */
    .services-card {
        width: 48%;
    }

    /* Contact */
    #contact-container {
        display: flex;
        flex-direction: column;
    }

    
    #contact-form {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        color: #808080;
    }

    #contact-form h2 {
        text-align: center;
    }

    #contact-info { 
        margin-top: 28px ;
    }

    #contact-info h2 {
        text-align: center;
    }

    /* Footer */
    #footer-container {
        display: flex;
        flex-direction: column;
    }

    
    .footer-box {
        width: 100%;
        line-height: 1.8;
        color: rgba(255, 255, 255, 0.4);
    }

    .footer-box2 ul {
        margin: 0;
        padding-inline-start: 0;
    }

    .footer-box3 {
        margin-top: 18px;
    }

    .footer-box3 h2 {
        margin: 0;
    }

    .footer-box-icon {
        display: flex;
        flex-wrap: wrap;
    }

    .footer-box3 i {
        padding-left: 0;
        padding-right: 20px;
    }

    .footer-box3 i:hover {
        color: #fff;
        cursor: pointer;
        transition: 0.4s;
    }

    .footer-box4 form {
        width: 100%;
    }

    .footer-box4 input {
        max-width: 70%;
    }

    
    .footer-box4 button {  
       max-width: 30%;
    }

    footer {
        padding: 32px 0;
    }

}

/* Tablet >=740px && <1024px*/
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    /* Common */
    .general-title-box {
        line-height: 1.8;
        max-width: 80%;
        margin-bottom: 74px;
    }

    .max-width-common {
        max-width: 90%;
    }

    /* Home */
    #home--images-1 {    
        position: absolute;
        top: 110px;
        right: 0;
        width: 68%;
        transform: rotate(12deg);
    }

    #home--images-2 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 56%;
        transform: rotate(-12deg);
        z-index: 0;
    }

    /* Pricing */

    .slide-comment {
        width: 50%;
    }

    .slide-comment-3 {
        display: none;
    }

    /* Contact */
    #contact-info { 
        padding-inline-start: 0;
        margin: auto 0;
        margin-left: auto;
        width: 30%;
        list-style-type: none;
    }

    
}

/* PC >= 1024px*/
@media only screen and (min-width: 64em) {
    
}

/* Mobile and Tablet < 1024px */
@media only screen and (max-width: 63.9375em) {
    /* Nav */
    #nav--sub-nav {
        display: none;
    }

    .nav-btn-bars {
        display: block;
        font-size: 20px;
    }
    /* Pricing */
    #pricing-box {
        display: flex;
        margin-bottom: 80px;
    }
    
    .pricing-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 30px 24px;
        background-color: #9c2c2c;
        color: #fff;
    }

    .pricing-card p {
        margin: 8px;
    }

    .pricing-card ul {
        position: relative;
        list-style-type: none;
        padding-inline-start: 0;
        margin-bottom: 20px;
    }
    
    .pricing-card li {
        margin-bottom: 12px;
        margin-left: 32px;
    }

    .pricing-card button {
        width: 60%;
    }

    /* Contact */
    #contact-form button {
        width: 100%;
    }
}